html {
    scroll-behavior: smooth;
}

img {
    width: 380px;
    border-radius: 30px;
    margin: 0px auto;
    display: block;
    box-shadow: -1rem 0 3rem #623f75;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    color: rgba(206, 248, 234, 0.671);
    background-color: rgb(9, 0, 24);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

div .container{
    text-align: left;
    text-align: justify;
    max-width: 700px;
    margin: 0 auto;
}
           
table{
    -webkit-box-shadow:12px 14px 6px 5px rgba(255, 255, 255, 0.24);
    box-shadow:12px 14px 6px 5px rgba(7, 184, 139, 0.103);
    border: solid 1px rgb(251, 255, 0);
    width: 250px;
}

table thead th{
    background-color: black;
    color: rgba(233, 233, 232, 0.877);
}

table tfoot td{
    background-color: rgb(255, 255, 255);
    color: black;
}

table tbody tr:nth-child(even) td{
    background-color: rgba(0, 238, 255, 0.63);
}
        
table tr:hover td{
    background-color: rgba(136, 127, 127, 0.384);
    cursor:pointer;
}

video{
    width: 250px;
}        